<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite"
       parallel="methods"
       thread-count="4">

    <listeners>
        <listener class-name="com.eaf.listeners.TestListener"/>
    </listeners>

    <test name="Smoke Tests">

        <classes>
            <class name="com.eaf.tests.LoginTest"/>
            <class name="com.eaf.tests.EmployeeTest"/>
        </classes>

    </test>

</suite>